.titulo-cardapio {
	text-align: center;
	font-size: 2.5em;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #8B0000;
}

.containerCardapio {
	width: 90%;
	margin: 10px auto;
}

.painel-cardapio .cardapio {
	text-align: center;
}

.painel-cardapio .prato {
	display: inline-block;
	width: 30%;
	margin: 0 10px 16px 0;
	padding: 5px;
}

.cardapio li {
	box-sizing: border-box;
}

.cardapio li:hover p {
	font-size: 1.1em;
	color: #1010AA;
}

.cardapio li img {
	width: 90%;
}

.cardapio li img:hover {
  box-shadow: 0 0 2px 1px rgba(16, 16, 180, 0.5);
}

.cardapio h2 {
	font-size: 2em;
	font-weight: bold;
}

.cardapio-descricao {
	font-size: 1.1em;
}

@media (max-width: 480px) {
 	.painel-cardapio .prato {
       max-width: 100%;
   }
}
