/* html{
	scroll-behavior: smooth;
}*/

body {
	font-family: 'Montserrat', Sans-Serif;
	font-size: 18px;
}

header {						  /* Tijolo */
    width: auto;
    top: 0; 
    left: 0;
	background: #FFFAFA;
	padding: 0.5em 0;
}

.button:hover button {
	color: #FF4500;
	text-decoration: unset; 
	font-size: 28px;
	font-weight: bolder;
}

.rede-social img {
	opacity: 1.0;
    filter: alpha(opacity=100);       
 }

.rede-social img:hover {
	opacity: 0.4;
    filter: alpha(opacity=40);
           
}

.cesta-compras img:hover {
	-webkit-transform: scale(1.9);
  	-moz-transform: scale(1.9);
  	-o-transform: scale(1.9);
  	-ms-transform: scale(1.9);
  	transform: scale(1.9);
}

.tituloQuemSomos {
	text-align: center;
	font-size: 2.5em;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #8B0000;
}

.tituloContato {
	text-align: center;
	font-size: 2.5em;
	padding-top: 15px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #8B0000;
}

footer {
    display: flex;
    border-top: 2px solid #FFFFFF;
	background-color: #FFFFFF; /*#00526B - o mesmo azul um pouco mais escuro*/ /*#007F96- cor da letra na parede*/ /*#1D4874 - cor da letra na parede*/ /*#B96E4E - cor da letra do logo*/ /*#8B0000 - cor das letras do cardapio no nosso site*/ /*#C96F66 cor rosado da letra encontrado no instagram*/ /*#948787 cor mais clara da letra do logo em preto*/ /*#4C3535 cor mais escura da letra do logo em preto*/
  	color: #000000;
	font-weight: bold;
	width: 80%;
    height: 100%;
	margin: 10px;
	margin-left: 10%;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    padding: 5px 0;
}


footer > div {
    flex: 1 1 auto;
    margin: 10px 20px;

}

.footer-1, .footer-3 {
	font-size: 0.80em;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
	text-align: center;
	width: calc((100% - 120px)/ 3);
	padding: 7px;
}


.footer-2 {
	font-size: 0.60em;
	text-align: center;
	padding-top: 40px;
	width: calc((100% - 120px) / 3);
}


@media (min-width: 600px) {
    html {
        font-size: 0.80em;
    }
}

@media (min-width: 1000px) {
    html {
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) { 
  
    .footer-1, 
    .footer-2, 
    .footer-3 { 
                width: auto; 
     } 
 }

	
